
.download{
    margin-top: 50px;
    max-width: 800px;
    margin: 0 auto;
}
.title__download{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 51px;
    text-align: center;
    color: #0088A2;
}
.download__block{
    display: flex;
    justify-content: space-between;
}
.download__images{
    width: 280px;
    height: 250px;
}
.text__download{
    margin-top: 55px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #707070;
}
@media only screen and (min-width: 320px) and (max-width: 480px){
    .title__download{
        font-size: 24px;
        line-height: 33px;
    }
    .download{
        max-width: 300px;
    }
    .download__images{
        width: 100px;
        height: 90px;
    }
    .text__download{
        font-size: 15px;
        line-height: 18px;
    }
}